/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
card, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
card, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Общий стиль */
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/* Шапка */
header {
    background: #8e1414;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 3vw;
}

.logomob {
    display: none;
}

.menu-toggle, .headtext {
    display: none; /* По умолчанию скрываем кнопку меню */
}

.bar {
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 1.25em;
}

nav ul li a {
    font-size: 1em;
    color: #fff;
}

nav ul li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

/* Основной контент */
.main-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.main-news-image-wrapper img {
    border-radius: 20px;
    object-fit: cover;
    object-position: 20% 20%;
    width: 100%;
    aspect-ratio: 13/7;
    object-fit: cover;
}

.main-news-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-news-summary-wrapper {
    border-left: 5px solid #8e1414;
}

.main-news-summary-wrapper p {
    margin-left: 15px;
    font-size: 24px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-weight: 700;
    font-size: 4vw;
    line-height: 1em;
}

.news-overlay p {
    font-size: 2vw;
    line-height: 2em;
}

h2 {
    font-weight: 700;
    font-size: 2.25em;
}

.cards {
    display: grid;
    grid-gap: 1.5%;
}

@media only screen and (min-width : 800px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width : 1100px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width : 1400px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1; /* Расширяем заголовок и ссылку на все колонки */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 10px;
}

h2, .all-news-link {
    margin: 0;
}

.all-news-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #8e1414;
}

.all-news-link:hover {
    color: rgba(142, 20, 20, 0.5);
}

.cards h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 23.44px;
}

.card p {
    font-style: italic;
}

.card p, time {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.125em;
    color: rgba(0, 0, 0, 0.5);
}

.card a {
    color: #333;
}

.card time {
    display: none;
}

.block-and-footer-wrapper {
    display: flex;
    min-height: calc(100vh - 80px);
    flex-direction: column;
    justify-content: space-between;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Подвал */
footer {
    border-top: 1px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    max-width: 1500px;
    width: 100%;
    height: 50px;
}

footer div {
    width: 33.3%;
}

.social-icons {
    display: flex;
    width: 33.3%;
    margin-left: 20px;
}

.social-icons img {
    margin-right: 30px;
    width: 28px;
}

@media(max-width: 1000px) {
    .social-icons img {
        margin-right: 20px;
        width: 28px;
    }
}

.social-icons img:hover {
    filter: alpha(Opacity=50);
    opacity: 0.5;
}

.footer-logo {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.25em;
    color: #8e1414;
    width: fit-content;
}

.languages-list-wrapper {
    display: flex;
}

.languages-list-wrapper.mobile {
    display: none;
}

.language-item {
    text-decoration: none;
    border-bottom: none;
    color: white;
}
.language-item:hover {
    color: rgba(255, 255, 255, 0.5);
}

.languages-list-wrapper.desktop .language-item.active{
    pointer-events: none;
    color: rgba(255, 255, 255, 0.5);
}

.section-wrapper {
    display: flex;
    justify-content: center;
}

.section {
    max-width: 1500px;
    width: 95vw;
    margin-bottom: 50px;
}

.section-header-wrapper {
    display: flex;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 30px;
}

.section-header {
    font-size: 96px;
    text-transform: uppercase;
    font-weight: bold;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 10px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
}

.section-header-rectangle {
    width: 100%;
    background-color: #8e1414;
    height: 73px;
    margin-bottom: 5px;
}

.main-news-text h1 {
    font-size: 64px;
}

/* Скрытие навигации и смены языков на мобильных устройствах */
@media (max-width: 800px) {

    body {
        background: white;
    }

    header {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-left: 7vw;
        margin-right: 7vw;
        background: rgba(0, 0, 0, 0);
    }

    .logo {
        display: none;
    }

    .logomob {
        display: block;
        width: 40px;
    }

    .menu-toggle {
        order: 2;
        display: block; /* Показываем иконку "гамбургер" */
    }

    .menu {
        display: none; /* Скрываем список навигации по умолчанию */
        flex-direction: column; /* Отображаем пункты меню в столбец */
        background: #ffffff;
        padding: 10px;
        position: fixed;
        top: 0; /* Позиционируем меню под кнопкой */
        left: 0;
        z-index: 1; /* Устанавливаем z-index, чтобы меню было видимым */
        width: 60%;
        height: 100%;
    }

    .menu.active {
        display: flex; /* Показываем список навигации при активации "гамбургера" */
    }

    nav ul {
        display: flex;
        flex-direction: column; /* Отображаем пункты меню в столбец */
        margin-top: 2em; /* Увеличиваем расстояние между пунктами меню */
    }

    nav ul li {
        margin-right: 0; /* Удаляем правый отступ у пунктов меню */
        margin-bottom: 1.5em; /* Увеличиваем отступ снизу между пунктами меню */
        padding-bottom: 1.5em;
        border-bottom: 1px solid #808080;
        font-size: 1em;
    }

    .menu.active nav ul li a {
        color: #000;
    }

    .menu-toggle .bar1 {
        width: 20px;
    }

    .menu-toggle .bar2 {
        width: 30px;
    }

    .menu-toggle .bar3 {
        width: 15px;
    }

    .menu-toggle .bar1, .menu-toggle .bar2, .menu-toggle .bar3 {
        display: block;
        border-radius: 2px;
        height: 5px;
        background-color: #000000;
        margin: 5px 0;
    }

    .languages.active a {
        color: #000;
    }

    * {
        box-sizing: border-box;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: rgb(200, 200, 200);
    }

    :-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
        color: rgb(200, 200, 200);
    }

    ::-moz-input-placeholder { /* Mozilla Firefox 19+ */
        color: rgb(200, 200, 200);
    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: rgb(200, 200, 200);
    }

    .main-news {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-news-text {
        order: 1;
    }

    .headtext {
        display: block;
        text-align: left;
        font-size: 3em;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .main-news-image-wrapper img {
        /*margin-top: 10px;*/
    }

    .main-news-text h1 {
        font-size: 19px;
    }

    .main-news-summary-wrapper {
        border: none;
    }

    .main-news-summary-wrapper p {
        margin: 0;
        font-size: 16px;
        font-style: normal;
    }

    h1 {
        font-size: 2.2em;
        line-height: 1.5em;
        color: #000;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .all-news-link {
        right: 0;
    }

    .cards h3 {
        font-size: 1em;
        line-height: 1em;
    }

    .card {
        display: grid;
        grid-template-columns: auto 1fr;
        border-radius: 10px;
        width: inherit;
        background-color: #fff;
        margin-bottom: 1em;
        padding: 1em;
        box-shadow: 0px 4px 4px 2px rgba(0,0,0,0.22);
        height: 200px;
    }

    .card img {
        aspect-ratio: 1/1;
        height: 170px;
    }

    .card div {
        margin-left: 10px;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card p {
        font-style: normal;
    }

    .card time {
        display: block;
    }

    .card h3,
    .card p,
    .card time {
        grid-column: 2; /* Остальные элементы находятся во второй колонке */
        text-align: left;
    }

    .footer-wrapper {
        background-color: white;
        height: 100px;
    }

    footer {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    .social-icons {
        position: relative;
        margin-left: 0;
        width: 80vw;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .social-icons img {
        margin-right: 0;
    }

    .footer-logo {
        font-size: 1.125em;
        margin-bottom: .5em;
    }

    .languages-list-wrapper.desktop {
        display: none;
    }

    .languages-list-wrapper.mobile {
        display: flex;
        margin-top: 20px;
    }

    .languages-list {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        display: flex;
    }

    .language-item {
        color: black;
        font-size: 22px;
    }

    .language-item:hover {
        color: #8e1414;
    }

    .languages-list-wrapper.mobile .language-item.active{
        color: #8e1414;
    }

    .menu.active {
        width: 200px;
        padding: 0;
        z-index: 11;
    }

    nav {
        width: 100%;
    }

    nav ul li a {
        margin-left: 20px;
    }

    nav ul li {
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 0;
    }

    .mobile-background {
        right: 0;
        top: 0;
        display: none;
        background-color: rgba(0, 0, 0, 0.4);
        width: 9000px;
        height: 9000px;
        position: fixed;
        z-index: 10;
    }

    .mobile-background.active {
        display: block;
    }

    .stork-wrapper {
        width: 180px;
    }

    .stork-wrapper .stork-output {
        margin-left: 25px;
        margin-right: 25px;
        position: fixed;
        left: 0;
        width: calc(100vw - 50px);
        display: flex;
    }

    .join-form-wrapper h1 {
        width: 300px;
    }

    .section {
        width: 90vw;
    }

    .section-header {
        font-size: 53px;
        text-transform: none;
    }

    .section-header-rectangle {
        display: none;
    }
}

@media (max-width: 400px) {
    .card img {
        height: 150px;
        margin-top: 8px;
    }
}

.stork-input-wrapper {
    display: flex;
    align-items: center;
}

.stork-wrapper .stork-close-button {
    color: #8e1414;
    background: white;
    border: none;
    margin-bottom: 3px;
    margin-right: 60px;
}

.stork-wrapper .stork-input {
    background: white;
    border-radius: 10px;
    height: 35px;
    box-shadow: none;
    border: 1px solid #8e1414;
}

.join-form-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.join-form-input {
    background-color: rgba(238, 237, 237, 1);
    border: 0;
    width: 300px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

select.join-form-input {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}

.join-form-wrapper form {
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-form-wrapper form  input[type=submit]{
    border-radius: 10px;
    height: 35px;
    background-color: rgba(204, 0, 0, 1);
    border: none;
    color: white;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

/*Для статьи просмотра*/
article {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 50px;
}

article header {
    display: none;
}

article img {
    width: 100%;
    border-radius: 10px;
}

article h1 {
    border-left: 10px solid #8e1414;
    font-size: 36px;
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

article h1 a {
    display: none;
}

article p {
    font-size: 20px;
    margin-top: 10px;
}

.article-content p:not(:first-child) img {
    margin-top: 20px;
}

article img + em {
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
    border-left: 2px solid #8e1414;
    padding-left: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

article ul {
    list-style: disc;
    font-size: 20px;
    margin-left: 40px;
}

article ol {
    list-style: decimal;
    font-size: 20px;
    margin-left: 40px;
}

#article-sidebar h4:first-child {
    display: none;
}

#article-sidebar time {
    font-style: italic;
    text-align: center;
    display: block;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

article nav ul {
    display: block;
}

article nav ul li a:hover {
    color: black;
}

article nav ul li a {
    color: black;
}

article nav ul li:first-child a {
    color: black;
}

article h2 a {
    display: none;
}

article h3 a {
    display: none;
}

article h4 a {
    display: none;
}

article h5 a {
    display: none;
}

article h2 {
    margin-top: 20px;
    font-size: 32px;
}

article h3 {
    margin-top: 20px;
    font-size: 29px;
}

article h4 {
    margin-top: 20px;
    font-size: 26px;
}

article h5 {
    margin-top: 20px;
    font-size: 23px;
}

@media (max-width: 800px) {
    article {
        margin: 0 20px 0 20px;
    }

    #_1 {
        border-left: none;
        font-size: 26px;
        padding-left: 0;
        margin-top: 0;
        line-height: 30px;
        margin-bottom: 0;
        order: -2;
    }

    .article-content {
        display: flex;
        flex-direction: column;
    }

    .article-content p:first-child {
        order: -1;
    }

    article nav ul li {
        border-bottom: none;
    }

    article nav ul li a {
        margin-left: 0;
    }

    article nav ul {
        margin-top: 10px;
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.pagination a {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8e1414;
}

.pagination a svg {
    fill: #8e1414;
}

.pagination a.disabled {
    color: rgba(229, 229, 229, 1);
    cursor: not-allowed;
}

.pagination a.disabled svg {
    fill: rgba(229, 229, 229, 1);
}

.pagination svg {
    font-size: 28px;
}
