/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Общий стиль */
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/* Шапка */
header {
    background: #8e1414;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 3vw;
}

.logomob {
    display: none;
}

.menu-toggle, .headtext {
    display: none; /* По умолчанию скрываем кнопку меню */
}

.bar {
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 1.25em;
}

nav ul li a {
    font-size: 1em;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

nav ul li:first-child a {
    color: rgba(255, 255, 255, 0.5);
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

/* Основной контент */
.main-news {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.25em;
}

.image-wrapper {
    position: relative;
}

.image-wrapper img {
    border-radius: 20px;
    width: 95vw;
    object-fit: cover;
    object-position: 20% 20%;
    height: 50vh;
}

.news-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

h1 {
    font-weight: 700;
    font-size: 4vw;
    line-height: 1em;
}

.news-overlay p {
    font-size: 2vw;
    line-height: 2em;
}

h2 {
    font-weight: 700;
    font-size: 2.25em;
}

.articles-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 300px));
    grid-gap: 1.5%;
    width: 95vw;
    margin: 0 auto;
    justify-content: center;
    max-width: 1800px;
    /*grid-auto-rows: minmax(6.25em, auto); !* Задаем минимальную высоту строк *!*/
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1; /* Расширяем заголовок и ссылку на все колонки */
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 10px;
}

h2, .all-news-link {
    margin: 0;
}

.all-news-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #8e1414;
}

.all-news-link:hover {
    color: rgba(142, 20, 20, 0.5);
}

.articles-wrapper h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 23.44px;
}

.article p {
    font-style: italic;
}

.article p, time {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.125em;
    color: rgba(0, 0, 0, 0.5);
}

.article a {
    text-decoration: none;
    color: #333;
}

.article time {
    display: none;
}

/* Подвал */
footer {
    border-top: 1px solid #808080;
    width: 95vw;
    padding: 1em 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33%;
}

.social-icons img {
    padding-right: 1.875em;
    width: 3.5rem;
}

.social-icons img:hover {
    filter: alpha(Opacity=50);
    opacity: 0.5;
}

.footer-logo {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.25em;
    color: #8e1414;
}

.languages-list-wrapper {
    display: flex;
}

.languages-list-wrapper.mobile {
    display: none;
}

.language-item {
    text-decoration: none;
    border-bottom: none;
    color: white;
}
.language-item:hover {
    color: rgba(255, 255, 255, 0.5);
}

.languages-list-wrapper.desktop .language-item.active{
    pointer-events: none;
    color: rgba(255, 255, 255, 0.5);
}

/* Скрытие навигации и смены языков на мобильных устройствах */
@media (max-width: 800px) {

    body {
        background: white;
    }

    header {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-left: 7vw;
        margin-right: 7vw;
        background: rgba(0, 0, 0, 0);
    }

    .logo {
        display: none;
    }

    .logomob {
        display: block;
        width: 40px;
    }

    .menu-toggle {
        order: 2;
        display: block; /* Показываем иконку "гамбургер" */
    }

    .menu {
        display: none; /* Скрываем список навигации по умолчанию */
        flex-direction: column; /* Отображаем пункты меню в столбец */
        background: #ffffff;
        padding: 10px;
        position: fixed;
        top: 0; /* Позиционируем меню под кнопкой */
        left: 0;
        z-index: 1; /* Устанавливаем z-index, чтобы меню было видимым */
        width: 60%;
        height: 100%;
    }

    .menu.active {
        display: flex; /* Показываем список навигации при активации "гамбургера" */
    }

    nav ul {
        display: flex;
        flex-direction: column; /* Отображаем пункты меню в столбец */
        margin-top: 2em; /* Увеличиваем расстояние между пунктами меню */
    }

    nav ul li {
        margin-right: 0; /* Удаляем правый отступ у пунктов меню */
        margin-bottom: 1.5em; /* Увеличиваем отступ снизу между пунктами меню */
        padding-bottom: 1.5em;
        border-bottom: 1px solid #808080;
        font-size: 1em;
    }

    .menu.active nav ul li a {
        color: #000;
    }

    .menu-toggle .bar1 {
        width: 20px;
    }

    .menu-toggle .bar2 {
        width: 30px;
    }

    .menu-toggle .bar3 {
        width: 15px;
    }

    .menu-toggle .bar1, .menu-toggle .bar2, .menu-toggle .bar3 {
        display: block;
        border-radius: 2px;
        height: 5px;
        background-color: #000000;
        margin: 5px 0;
    }

    .languages.active a {
        color: #000;
    }

    * {
        box-sizing: border-box;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: rgb(200, 200, 200);
    }

    :-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
        color: rgb(200, 200, 200);
    }

    ::-moz-input-placeholder { /* Mozilla Firefox 19+ */
        color: rgb(200, 200, 200);
    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: rgb(200, 200, 200);
    }

    .main-news {
        display: block;

        margin-top: 0;
    }

    .headtext {
        display: block;
        text-align: left;
        font-size: 3em;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .image-wrapper img {
        margin-top: 10px;
        width: 84vw;
        height: auto;
    }

    .news-overlay {
        display: block;
        position: relative;
        margin-left: 0;
        width: 84vw;
        padding: 10px;
        z-index: 0;
        background: rgba(0, 0, 0, 0);
        text-align: left;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    h1 {
        font-size: 2.2em;
        line-height: 1.5em;
        color: #000;
    }

    .news-overlay p {
        color: #808080;
    }

    .articles-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95vw;
        text-align: center;
        margin: 0 auto;
    }

    .news-header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        width: 84vw;
        margin-top: 30px;
        margin-left: 7vw;
        margin-right: 7vw;
        margin-bottom: 1em;
    }

    .news-header h2 {
        font-size: 1.5em;
        left: 0;
    }

    .all-news-link {
        right: 0;
    }

    .articles-wrapper h3 {
        font-size: 1em;
        line-height: 1em;
    }

    .article {
        display: grid;
        grid-template-columns: auto 1fr;
        border-radius: 10px;
        width: 90vw;
        background-color: #fff;
        margin-bottom: 1em;
        padding: 1em;
        box-shadow: 0px 4px 4px 2px rgba(0,0,0,0.22);
        height: 200px;
    }

    .article img {
        aspect-ratio: 1/1;
        height: 170px;
    }

    .article div {
        margin-left: 10px;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .article p {
        font-style: normal;
    }

    .article time {
        display: block;
    }

    .article h3,
    .article p,
    .article time {
        grid-column: 2; /* Остальные элементы находятся во второй колонке */
        text-align: left;
    }

    footer {
        width: 84vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        margin-left: 1.875em;
        margin-bottom: 1.5em;
        margin-top: 1em;
    }

    .footer-logo {
        font-size: 1.125em;
        margin-bottom: .5em;
    }

    .languages-list-wrapper.desktop {
        display: none;
    }

    .languages-list-wrapper.mobile {
        display: flex;
        margin-top: 20px;
    }

    .languages-list {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        display: flex;
    }

    .language-item {
        color: black;
        font-size: 22px;
    }

    .language-item:hover {
        color: #8e1414;
    }

    .languages-list-wrapper.mobile .language-item.active{
        color: #8e1414;
    }

    .menu.active {
        width: 200px;
        padding: 0;
        z-index: 11;
    }

    nav {
        width: 100%;
    }

    nav ul li a {
        margin-left: 20px;
    }

    nav ul li {
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 0;
    }

    .mobile-background {
        right: 0;
        top: 0;
        display: none;
        background-color: rgba(0, 0, 0, 0.4);
        width: 9000px;
        height: 9000px;
        position: fixed;
        z-index: 10;
    }

    .mobile-background.active {
        display: block;
    }

    .stork-wrapper {
        width: 180px;
    }

    .stork-wrapper .stork-output {
        margin-left: 25px;
        margin-right: 25px;
        position: fixed;
        left: 0;
        width: calc(100vw - 50px);
        display: flex;
    }

    .join-form-wrapper h1 {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .article img {
        height: 150px;
        margin-top: 8px;
    }
}

.stork-input-wrapper {
    display: flex;
    align-items: center;
}

.stork-wrapper .stork-close-button {
    color: #8e1414;
    background: white;
    border: none;
    margin-bottom: 3px;
    margin-right: 60px;
}

.stork-wrapper .stork-input {
    background: white;
    border-radius: 10px 0 0 10px;
    height: 35px;
    box-shadow: none;
    border: 1px solid #8e1414;
}

.search-button {
    border-radius: 0 10px 10px 0;
    padding: 8px 20px 8px 20px;
    background: white;
    color: #8e1414;
    font-size: 1em;
    border: 1px solid #8e1414;
    border-left: none;
}

.join-form-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.join-form-input {
    background-color: rgba(238, 237, 237, 1);
    border: 0;
    width: 300px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

select.join-form-input {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}

.join-form-wrapper form {
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-form-wrapper form  input[type=submit]{
    border-radius: 10px;
    height: 35px;
    background-color: rgba(204, 0, 0, 1);
    border: none;
    color: white;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}
