{% extends 'base.html' %}

{% block title %}
{% trans %}Страница не найдена{% endtrans %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% trans %}Такой страницы не существует в{% endtrans %} {{ SITENAME|striptags|e }}
{% endblock head_description %}

{% block content %}
<div class="row-fluid">
    <header class="page-header span10 offset2">
    <h1>{% trans %}Такой страницы не существует!{% endtrans %}</h1>
    </header>
</div>

<div class="row-fluid">
    <div class="span8 offset2">
        <p>{% trans %}Увы, запрашиваемая вами страница не найдена. Она либо никогда не существовала, либо была перенесена или удалена.{% endtrans %}</p>
    </div>
</div>
{% endblock content %}
