{% extends 'base.html' %}
{% from 'macros.html' import card with context %}

{% block title %}
{% trans %}Курсы{% endtrans %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% trans %}Курсы от{% endtrans %} {{ SITENAME|striptags|e }}
{% endblock head_description %}

{% block content %}
<main class="section-wrapper">
    <div class="section">
        <div class="section-header-wrapper">
            <div class="section-header">{% trans %}Курсы{% endtrans %}</div>
            <div class="section-header-rectangle"></div>
        </div>
        <section class="cards">
            {{ card(pages|get("opsec")) }}
        </section>
    </div>
</main>
{% endblock content %}
