{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block meta_tags_in_head %}
{{ super() }}
<meta property="og:title" content="{{ SITENAME|striptags|e }}"/>
<meta name="twitter:title" content="{{ SITENAME|striptags|e }}">
<meta property="og:url" content="{{ SITEURL }}" />
<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
<meta property="og:article:author" content="{{ AUTHOR }}" />
{% if FEATURED_IMAGE %}
<meta property="og:image" content="{{ FEATURED_IMAGE }}" />
<meta name="twitter:image" content="{{ FEATURED_IMAGE }}" >
{% endif %}
{% if SITE_DESCRIPTION %}
<meta property="og:description" content="{{ SITE_DESCRIPTION|e }}" />
<meta name="twitter:description" content="{{ SITE_DESCRIPTION|e }}">
{% endif %}
<meta name="keywords" content="{% for tag, _ in tags|sort %} {{ tag }}, {% endfor %}{% for category, _ in categories|sort %} {{ category }}, {% endfor %}" />
{% endblock meta_tags_in_head %}

{% block content %}
<main>
    {% for article in articles %}
    {% if loop.first %}
    <section class="main-news">
        <div class="image-wrapper">
            <a href="{{ SITEURL }}/{{ article.url }}"><img src="{{ article.cover }}" alt="{{ article.title }}"></a>
        </div>
        <div class="news-overlay">
            <a href="{{ SITEURL }}/{{ article.url }}"><h1>{{ article.title }}</h1></a>
            <p>{{ article.content }}</p>
        </div>
    </section>
    <section class="other-news">
        <div class="news-header">
            <h2>Последние новости</h2>
            <a href="#" class="all-news-link">Показать все новости</a>
        </div>
    {% else %}
        <div class="news-block">
            <a href="{{ SITEURL }}/{{ article.url }}"><img src="#" alt="{{ article.title }}"></a>
            <a href="{{ SITEURL }}/{{ article.url }}"><h3>{{ article.title }}</h3></a>
            <p>{{ article.summary }}</p>
        </div>
    {% endif %}
    {% endfor %}
    </section>
</main>
{% endblock content %}
