{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block meta_tags_in_head %}
{{ super() }}
<meta property="og:title" content="{{ SITENAME|striptags|e }}"/>
<meta name="twitter:title" content="{{ SITENAME|striptags|e }}">
<meta property="og:url" content="{{ SITEURL }}" />
<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
<meta property="og:article:author" content="{{ AUTHOR }}" />
{% if FEATURED_IMAGE %}
<meta property="og:image" content="{{ FEATURED_IMAGE }}" />
<meta name="twitter:image" content="{{ FEATURED_IMAGE }}" >
{% endif %}
{% if SITE_DESCRIPTION %}
<meta property="og:description" content="{{ SITE_DESCRIPTION|e }}" />
<meta name="twitter:description" content="{{ SITE_DESCRIPTION|e }}">
{% endif %}
<meta name="keywords" content="{% for tag, _ in tags|sort %} {{ tag }}, {% endfor %}{% for category, _ in categories|sort %} {{ category }}, {% endfor %}" />
{% endblock meta_tags_in_head %}
{% from 'macros.html' import article with context %}
{% block content %}
<main>
    {# Featured article #}
    {% if articles_page.object_list and not articles_page.has_previous() %}
    {% set main_article_object = articles_page.object_list[0] %}
    <section class="main-news">
        <div class="image-wrapper">
            <a href="{{ SITEURL }}/{{ main_article_object.url }}"><img src="{{ main_article_object.cover }}" alt="{{ main_article_object.title }}"></a>
        </div>
        <div class="news-overlay">
            <a href="{{ SITEURL }}/{{ main_article_object.url }}"><h1>{{ main_article_object.title }}</h1></a>
            <p>{{ main_article_object.summary }}</p>
        </div>
    </section>
    {% endif %}

    {# Other articles #}
    <section class="articles-wrapper">
    {% set begin = 0 if articles_page.has_previous() else 1 %}
    {% if articles_page.object_list|length > begin %}
    {% for article_object in articles_page.object_list[begin:] %}
        {{ article(article_object) }}
        {{ article(article_object) }}
        {{ article(article_object) }}
        {{ article(article_object) }}
    {% endfor %}
    {% endif %}
    </section>
    <ul class="actions pagination">
        {% if articles_page.has_previous() %}
        <li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="button large previous">{% trans %}Previous Page{% endtrans %}</a></li>
        {% else %}
        <li><a class="disabled button large previous">{% trans %}Previous Page{% endtrans %}</a></li>
        {% endif %}
        {% if articles_page.has_next() %}
        <li><a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="button large next">{% trans %}Next Page{% endtrans %}</a></li>
        {% else %}
        <li><a class="disabled button large next">{% trans %}Next Page{% endtrans %}</a></li>
        {% endif %}
    </ul>
    </main>
{% endblock content %}
