{% extends 'base.html' %}

{% block title %}
{% trans %}Join{% endtrans %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% trans %}Fill this form to join the Union of marxists!{% endtrans %} {{ SITENAME|striptags|e }}
{% endblock head_description %}

{% block content %}

<div class="join-form-wrapper">
    {% if DEFAULT_LANG == 'ru' %}
    <h1>{% trans %}Join{% endtrans %}</h1>
    <form action="https://backend.recruit.marxunion.org/">
        <input class="join-form-input" type="text" id="name" name="name" required placeholder="{% trans %}How should we address you?{% endtrans %}">
        <select class="join-form-input" id="gender" name="gender" required>
            <option value="" disabled selected>{% trans %}Gender{% endtrans %}</option>
            <option value="not-specified">{% trans %}Not specified{% endtrans %}</option>
            <option value="female">{% trans %}Female{% endtrans %}</option>
            <option value="male">{% trans %}Male{% endtrans %}</option>
        </select>
        <input class="join-form-input" type="number" id="age" name="age" required placeholder="{% trans %}Age{% endtrans %}">
        <input class="join-form-input" type="tel" id="phone" name="phone" placeholder="{% trans %}Phone number{% endtrans %}">
        <input class="join-form-input" type="text" id="telegram" name="telegram" placeholder="{% trans %}Telegram handle{% endtrans %}">
        <input class="join-form-input" type="text" id="city" name="city" required placeholder="{% trans %}City (+ country if other than Russia){% endtrans %}">
        <input type="submit" value="{% trans %}Submit{% endtrans %}">
    </form>
    {% else %}
    <p>{% trans %}Please note that at present we only accept Russian-speaking applicants.{% endtrans %}</p>
    {% endif %}
</div>
{% endblock content %}
