{% extends 'base.html' %}

{% block title %}
{% trans %}Вступить{% endtrans %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% trans %}Заполните эту форму, чтобы присоединиться к Союзу марксистов!{% endtrans %}
{% endblock head_description %}

{% block content %}

<div class="join-form-wrapper">
    {% if DEFAULT_LANG == 'ru' %}
    <h1>{% trans %}Вступить{% endtrans %}</h1>
    <form action="https://backend.recruit.marxunion.org/">
        <input class="join-form-input" type="text" id="name" name="name" required placeholder="{% trans %}Как нам к тебе обращаться?{% endtrans %}">
        <select class="join-form-input" id="gender" name="gender" required>
            <option value="" disabled selected>{% trans %}Гендер{% endtrans %}</option>
            <option value="not-specified">{% trans %}Не указывать{% endtrans %}</option>
            <option value="female">{% trans %}Женский{% endtrans %}</option>
            <option value="male">{% trans %}Мужской{% endtrans %}</option>
        </select>
        <input class="join-form-input" type="number" id="age" name="age" required placeholder="{% trans %}Возраст{% endtrans %}">
        <input class="join-form-input" type="tel" id="phone" name="phone" placeholder="{% trans %}Номер телефона{% endtrans %}">
        <input class="join-form-input" type="text" id="telegram" name="telegram" placeholder="{% trans %}Имя в Telegram{% endtrans %}">
        <input class="join-form-input" type="text" id="city" name="city" required placeholder="{% trans %}Город (+ страна, если это не РФ){% endtrans %}">
        <input type="submit" value="{% trans %}Отправить{% endtrans %}">
    </form>
    {% else %}
    <p>{% trans %}В данный момент мы принимаем только русскоговорящих членов.{% endtrans %}</p>
    {% endif %}
</div>
{% endblock content %}
