{% macro translations(article) %}
{% if article.translations %}
{% trans %}Translations{% endtrans %}:
{% for translation in article.translations %}
<a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>
{% endfor %}
{% endif %}
{% endmacro %}

{% macro langlist(class) %}
<div class="languages-list-wrapper {{class}}">
    <div class="languages-list">
        <a href="/" class="language-item"
           {% if DEFAULT_LANG == 'ru' %}
                {% if class == 'desktop' %}
                    style="pointer-events: none;"
                {% elif class == 'mobile' %}
                    style="color: #8e1414;"
                {% endif %}
            {% endif %}
        >рус</a>
        <a href="{{ main_siteurl }}/en" class="language-item"
            {% if DEFAULT_LANG == 'en' %}
                {% if class == 'desktop' %}
                    style="pointer-events: none;"
                {% elif class == 'mobile' %}
                    style="color: #8e1414;"
                {% endif %}
            {% endif %}
        >eng</a>
        <a href="{{ main_siteurl }}/de" class="language-item"
            {% if DEFAULT_LANG == 'de' %}
                {% if class == 'desktop' %}
                    style="pointer-events: none;"
                {% elif class == 'mobile' %}
                    style="color: #8e1414;"
                {% endif %}
            {% endif %}
        >de</a>
    </div>
</div>
{% endmacro %}
