.join-form-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.join-form-input {
    background-color: var(--form-input);
    border: 0;
    width: 300px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

select.join-form-input {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}

.join-form-wrapper form {
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-form-wrapper form  input[type=submit]{
    border-radius: 10px;
    height: 35px;
    background-color: var(--sm-brighter-red);
    border: none;
    color: var(--white);
    font-size: 16px;
    width: 150px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 30px;
}

.join-form-message {
    max-width: 750px;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.join-form-message a {
    color: var(--sm-red);
}

@media (max-width: 800px) {
    .join-form-wrapper h1 {
        width: 300px;
    }
}
